<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DVBViewerController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DVBViewerController.Properties.Settings>
            <setting name="startServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>8000</value>
            </setting>
        </DVBViewerController.Properties.Settings>
    </userSettings>
</configuration>